
/*
  Visitor: rgb(199, 13, 83)
  Local:   rgb(234, 103, 31)
 */

 .Calendar .CalendarHeader{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-top: 1px solid #e3e3e3;
    padding-top: 17px;
 }

.DayPicker.DayPicker--horizontal{
  margin: 0 auto;
  box-shadow: none;
}

.Calendar .DayPicker.DayPicker--horizontal .DayPicker__focus-region .DayPickerNavigation__prev, .Calendar .DayPicker.DayPicker--horizontal .DayPicker__focus-region .DayPickerNavigation__next{
  color: rgb(199, 13, 83);
  font-weight: bold;
  background-color: transparent;
  top: 24px;
  border: none;
  font-size: 15px;
}

 .Calendar--local .DayPicker.DayPicker--horizontal .DayPicker__focus-region .DayPickerNavigation__prev, .Calendar--local .DayPicker.DayPicker--horizontal .DayPicker__focus-region .DayPickerNavigation__next{
  color: rgb(234, 103, 31);
 }
  /* Double color in case of new default color / events page */
 .Calendar--visitor .DayPicker.DayPicker--horizontal .DayPicker__focus-region .DayPickerNavigation__prev, .Calendar--visitor .DayPicker.DayPicker--horizontal .DayPicker__focus-region .DayPickerNavigation__next{
  color: rgb(199, 13, 83);
 }

.DayPicker.DayPicker--horizontal .DayPicker__focus-region .transition-container.transition-container--horizontal table tbody{
  border-top: 13px solid white;
}

.DayPicker.DayPicker--horizontal .DayPicker__focus-region .transition-container.transition-container--horizontal .CalendarMonth__caption.js-CalendarMonth__caption{
  position: relative;
  font-size: 15px;
  text-transform: uppercase;
}

.DayPicker.DayPicker--horizontal .DayPicker__focus-region .transition-container.transition-container--horizontal .CalendarMonth__caption.js-CalendarMonth__caption::after{
  border-bottom: solid 1px #E3E3E3;
  width: 100%;
  height: 30px;
  display: block;
  top: 15px;
  position: absolute;
  content: '';

}

.DayPicker.DayPicker--horizontal .DayPicker__week-headers .DayPicker__week-header ul li small{
  color: transparent;
  position: relative;

}
.DayPicker.DayPicker--horizontal .DayPicker__week-headers .DayPicker__week-header ul li small:after{
  color: #535353;
  position: absolute;
  font-weight: bold;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;

}

.DayPicker.DayPicker--horizontal .DayPicker__week-headers .DayPicker__week-header ul li:first-child small::after {
  content: 'S';
}
.DayPicker.DayPicker--horizontal .DayPicker__week-headers .DayPicker__week-header ul li:nth-child(2) small::after {
  content: 'M';
}
.DayPicker.DayPicker--horizontal .DayPicker__week-headers .DayPicker__week-header ul li:nth-child(3) small::after {
  content: 'T';
}
.DayPicker.DayPicker--horizontal .DayPicker__week-headers .DayPicker__week-header ul li:nth-child(4) small::after {
  content: 'W';
}
.DayPicker.DayPicker--horizontal .DayPicker__week-headers .DayPicker__week-header ul li:nth-child(5) small::after {
  content: 'T';
}
.DayPicker.DayPicker--horizontal .DayPicker__week-headers .DayPicker__week-header ul li:nth-child(6) small::after {
  content: 'F';
}
.DayPicker.DayPicker--horizontal .DayPicker__week-headers .DayPicker__week-header ul li:nth-child(7) small::after {
  content: 'S';
}

.DayPicker.DayPicker--horizontal .DayPicker__focus-region .transition-container.transition-container--horizontal table tbody .CalendarDay{
  border: none;
}

.DayPicker.DayPicker--horizontal .DayPicker__focus-region .transition-container.transition-container--horizontal table tbody .CalendarDay button{
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  color: black;
  border: solid 1px #E3E3E3;
}

.DayPicker.DayPicker--horizontal .DayPicker__focus-region .transition-container.transition-container--horizontal table tbody .CalendarDay.CalendarDay--selected-start{
  background-color: transparent;
}

.DayPicker.DayPicker--horizontal .DayPicker__focus-region .transition-container.transition-container--horizontal table tbody .CalendarDay.CalendarDay--selected-start button{
  background-color: rgb(199, 13, 83);
  color: white;
}
.Calendar.Calendar--local .DayPicker.DayPicker--horizontal .DayPicker__focus-region .transition-container.transition-container--horizontal table tbody .CalendarDay.CalendarDay--selected-start button{
  background-color: rgb(234, 103, 31);
}
/* Double color in case of new default color / events page */
.Calendar.Calendar--visitor .DayPicker.DayPicker--horizontal .DayPicker__focus-region .transition-container.transition-container--horizontal table tbody .CalendarDay.CalendarDay--selected-start button{
  background-color: rgb(199, 13, 83);
}

.DayPicker.DayPicker--horizontal .DayPicker__focus-region .transition-container.transition-container--horizontal table tbody .CalendarDay--selected-span,
.DayPicker.DayPicker--horizontal .DayPicker__focus-region .transition-container.transition-container--horizontal table tbody .CalendarDay.CalendarDay--selected-end,
.DayPicker.DayPicker--horizontal .DayPicker__focus-region .transition-container.transition-container--horizontal table tbody .CalendarDay.CalendarDay--last-in-range{
  background-color: transparent;
}

.Calendar .DayPicker.DayPicker--horizontal .DayPicker__focus-region .transition-container.transition-container--horizontal table tbody .CalendarDay--selected-span button,
.Calendar .DayPicker.DayPicker--horizontal .DayPicker__focus-region .transition-container.transition-container--horizontal table tbody .CalendarDay.CalendarDay--selected-end button,
.Calendar .DayPicker.DayPicker--horizontal .DayPicker__focus-region .transition-container.transition-container--horizontal table tbody .CalendarDay.CalendarDay--last-in-range button{
  border: solid 2px  rgb(199, 13, 83);
}

/* Double color in case of new default color / events page */
.Calendar.Calendar--visitor .DayPicker.DayPicker--horizontal .DayPicker__focus-region .transition-container.transition-container--horizontal table tbody .CalendarDay--selected-span button,
.Calendar.Calendar--visitor .DayPicker.DayPicker--horizontal .DayPicker__focus-region .transition-container.transition-container--horizontal table tbody .CalendarDay.CalendarDay--selected-end button,
.Calendar.Calendar--visitor .DayPicker.DayPicker--horizontal .DayPicker__focus-region .transition-container.transition-container--horizontal table tbody .CalendarDay.CalendarDay--last-in-range button{
  border: solid 2px  rgb(199, 13, 83);
}

.Calendar.Calendar--local .DayPicker.DayPicker--horizontal .DayPicker__focus-region .transition-container.transition-container--horizontal table tbody .CalendarDay--selected-span button,
.Calendar.Calendar--local .DayPicker.DayPicker--horizontal .DayPicker__focus-region .transition-container.transition-container--horizontal table tbody .CalendarDay.CalendarDay--selected-end button,
.Calendar.Calendar--local .DayPicker.DayPicker--horizontal .DayPicker__focus-region .transition-container.transition-container--horizontal table tbody .CalendarDay.CalendarDay--last-in-range button{
  border: solid 2px  rgb(234, 103, 31);
}

.Calendar-button-wrapper{
  max-width: 274px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.Calendar-button-wrapper button.CalendarButton{
  flex-grow: 1;

  border: none;
  color: white;
  background-color: rgb(199, 13, 83);
  padding: 10px 7px;
  margin: auto;
  text-transform: uppercase;
  font-size: 12px;

}

.Calendar-button-wrapper button.CalendarButton:not(:last-of-type){
  border-right: solid 4px white;
}

.Calendar.Calendar--local .Calendar-button-wrapper button.CalendarButton{
  background-color: rgb(234, 103, 31);
}
.Calendar.Calendar--visitor .Calendar-button-wrapper button.CalendarButton{
  background-color: rgb(199, 13, 83);
}

button.calendar-button:not(:last-of-type){
  margin-right: 5px;
}