.Calendar-header {
  margin: 1rem 1rem -1rem;
  background: #d50246;
  color: #fff;
  padding: 0.5rem 0;
  text-align: center;
}

.Calendar-header-day {
  font-size: 2.875rem;
}

.Calendar-header-workday {
  font-size: 1rem;
  display: inline-block;
  transform: translateY(-0.5rem);
  text-transform: uppercase;
  padding-right: 1rem;
  margin-left: -3rem;
  font-weight: bold;
}

.react-date-picker__transition-month-view--theme-default {
  font-size: 0.8125rem;
  margin: 1rem;
  font-weight: bold;
  color: #b4b4b4;
  background: #fff;
  border: 0;
  padding: 0.25rem 0.4rem 1rem;
}

.react-date-picker__nav-bar-date {
  pointer-events: none;
  text-transform: uppercase;
  font-size: 1rem;
  color: #d50246;
}

.react-date-picker__nav-bar--theme-default {
  border-bottom: 1px solid #dad1d1;
  margin: 0 0.75rem 0.5rem;
  padding-bottom: 0.6rem;
}

.react-date-picker__month-view--theme-default .react-date-picker__month-view-day--today-highlight {
  color: #b4b4b4;
}

.react-date-picker__month-view--theme-default .react-date-picker__month-view-day .react-date-picker__month-view-day-text {
  min-width: 32px;
  min-height: 32px;
  max-width: 32px;
  max-height: 32px;
}

.react-date-picker__nav-bar-secondary-arrow {
  display: none !important;
}

.react-date-picker__nav-bar--theme-default .react-date-picker__nav-bar-arrow svg {
  fill: #d50246;
}

.react-date-picker__nav-bar-arrow--prev {
  margin-left: -0.5rem;
}

.react-date-picker__nav-bar-arrow--next {
  margin-right: -0.5rem;
}

.react-date-picker__month-view-day--prev-month,
.react-date-picker__month-view-day--next-month {
  color: #dfdfdf !important;
}

.react-date-picker__month-view-week-day-name.dp-week-day-name {
  color: transparent;
  position: relative;
}

.react-date-picker__month-view-week-day-name.dp-week-day-name::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5px;
  left: 15px;
  color: #02b0f9;
}

.react-date-picker__month-view-week-day-name.dp-week-day-name:first-child::after {
  content: 'S';
}
.react-date-picker__month-view-week-day-name.dp-week-day-name:nth-child(2)::after {
  content: 'M';
}
.react-date-picker__month-view-week-day-name.dp-week-day-name:nth-child(3)::after {
  content: 'T';
}
.react-date-picker__month-view-week-day-name.dp-week-day-name:nth-child(4)::after {
  content: 'W';
}
.react-date-picker__month-view-week-day-name.dp-week-day-name:nth-child(5)::after {
  content: 'T';
}
.react-date-picker__month-view-week-day-name.dp-week-day-name:nth-child(6)::after {
  content: 'F';
}
.react-date-picker__month-view-week-day-name.dp-week-day-name:nth-child(7)::after {
  content: 'S';
}
