
.EventOverlay-transitionGroup-enter .EventOverlay-wrapper,
.EventOverlay-transitionGroup-leave .EventOverlay-wrapper {
  transform: translateX(-50%), scale(0.7);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}

.EventOverlay-transitionGroup-enter-active .EventOverlay-wrapper {
  transform: translateX(-50%), scale(1);
  opacity: 1;
}

.EventOverlay-transitionGroup-enter.EventOverlayBackdrop,
.EventOverlay-transitionGroup-leave.EventOverlayBackdrop {
  opacity: 0;
  transition: opacity 0.3s;
}

.EventOverlay-transitionGroup-enter-active.EventOverlayBackdrop {
  opacity: 1;
}

.EventOverlayBackdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.EventOverlay-wrapper {
  position: fixed;
  display: flex;
  bottom: 3.6875rem;
  left: 50%;
  transform: translateX(-50%);
}

.EventOverlay {
  width: calc(100vw - 325px - 24vw);
  max-width: 700px;
  max-height: calc( 100vh - 4.6875rem - 1.25rem);
  background: #fff;
  border-radius: 3px;
  padding: 2rem;
  position: relative;
}

.EventOverlay-img {
  width: calc(100% + 4rem);
  margin-top: -2rem;
  margin-left: -2rem;
  border-radius: 3px 3px 0 0;
}

.EventOverlay-heading {
  font-size: 1.875rem;
  margin: 0.35rem 0 -0.5rem;
}

.EventOverlay-content-scrollWrapper {
  display: block;
  margin: 0 1rem 0 0;
}

.EventOverlay-content {
  font-size: 0.9375rem;
  color: #535353;
}

.EventOverlay-content > p:first-of-type {
  margin-top: 0;
}

.EventOverlay-button {
  display: block;
  text-align: center;
  border: 0;
  background: #c70d53;
  color: #fff;
  font-size: 0.8125rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.8rem 1.25rem;
  margin-top: 1rem;
}

.EventOverlay-videoButton {
  font-size: 0.8125rem;
  font-weight: bold;
  color: #d50246;
  padding: 0.3rem 0.8rem 0.4rem 2.5rem;
  border: 0;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  background: transparent url('../media/film.svg') no-repeat;
  background-size: 24px;
  background-position: 11px 5px;
  cursor: pointer;
}

.EventOverlay-metaBox {
  font-size: 0.8125rem;
  padding: 0.75rem 0 0.25rem;
  margin-bottom: 1rem;
  background: #fff;
}

.EventOverlay-metaBox h3 {
  font-size: 1rem;
  margin: 0 0 0.5rem;
  font-weight: 600;
}

.EventOverlay-metaBox ul {
  list-style: none;
  padding: 0;
  margin: 0.75rem 0 0.5rem;
}

.EventOverlay-metaBox li {
  padding: 0.25rem 0;
}

.EventOverlay-metaBox a {
  font-weight: 500;
}

.EventOverlay-closeButton-wrapper {
  text-align: right;
  margin-bottom: 1rem;
}

.EventOverlay-closeButton {
  border: 0;
  background: #fff;
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  padding: 0.25rem;
  line-height: 1.45rem;
  cursor: pointer;
}

.EventOverlay-closeButton > img {
  width: 12px;
  height: 12px;
}

.EventOverlay-dateGraphic {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 0.625rem;
  padding: 0.3rem;
  margin-top: 0.25rem;
  text-align: center;
  text-transform: uppercase;
  color: #c70d53;
  border: 1px solid rgba(199, 13, 83, 0.33); /* #c70d53 @ 33% opacity */
  border-radius: 50%;
  line-height: 0.625rem;
  font-weight: bold;
}

.EventOverlay-dateGraphic__month {
  font-size: 0.375rem;
  font-weight: 500;
}

.EventOverlay-date {
  display: inline-block;
  line-height: 2rem;
  transform: translateY(-3px);
  padding-left: 0.33rem;
}

.EventOverlay-dateSeparator {
  display: inline-block;
  line-height: 2rem;
  transform: translateY(-3px);
  padding: 0 0.5rem;
}

.EventOverlay-dateSeparator--narrow {
  padding: 0 0 0 0.25rem;
}

.EventOverlay-videoWrapper {
  position: fixed;
  width: 100%;
  top: calc(50% - 300px);
  left: calc(50% - 320px);
  max-width: 640px;
}