
.PageOverlay-transitionGroup-enter .PageOverlay,
.PageOverlay-transitionGroup-leave .PageOverlay {
  transform: scale(0.7);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}

.PageOverlay-transitionGroup-enter-active .PageOverlay {
  transform: scale(1);
  opacity: 1;
}

.PageOverlay-transitionGroup-enter.PageOverlayBackdrop,
.PageOverlay-transitionGroup-leave.PageOverlayBackdrop {
  opacity: 0;
  transition: opacity 0.3s;
}

.PageOverlay-transitionGroup-enter-active.PageOverlayBackdrop {
  opacity: 1;
}

.PageOverlayBackdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.PageOverlay {
  position: fixed;
  top: 10%;
  left: calc(50% - 350px);
  width: 700px;
  height: 80%;
  z-index: 2000;
}

.PageOverlay-inner {
  background: #fff;
  border-radius: 5px;
  padding: 1.5rem;
}

.PageOverlay-closeButton-wrapper {
  text-align: right;
  margin-top: -2.8rem;
  margin-bottom: 1rem;
}

.PageOverlay-closeButton {
  border: 0;
  background: #fff;
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  padding: 0.25rem;
  line-height: 1.45rem;
  cursor: pointer;
}

.PageOverlay-closeButton > img {
  width: 12px;
  height: 12px;
}
