.RelatedEvents {
  position: relative;
  width: calc(100vw - 425px - 24vw);
  max-width: 600px;
  max-height: calc( 100vh - 7.5rem - 1.25rem);
  background: #fff;
  border-radius: 3px;
  padding: 1.25rem 1.75rem 1.75rem;
}

.RelatedEvents-wrapper {
  height: 99%;
}

.RelatedEvents h3 {
  margin: 0.5rem 0 -0.25rem;
}

.RelatedEvents-eventWrapper {
  height: 20vh;
  white-space: nowrap;
}

.RelatedEvents-heading {
  font-weight: bold;
  font-size: 1rem;
  display: block;
}