.Search-wrapper-transitionGroup-enter.Search-inputWrapper,
.Search-wrapper-transitionGroup-leave.Search-inputWrapper {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.Search-wrapper-transitionGroup-enter.Search-inputWrapper--top,
.Search-wrapper-transitionGroup-leave.Search-inputWrapper--top
 {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.Search-wrapper-transitionGroup-enter-active.Search-inputWrapper--top {
  opacity: 1;
}

.Search-wrapper-transitionGroup-enter-active.Search-inputWrapper {
  opacity: 1;
}

.Search-inputWrapper {
  position: absolute;
  z-index: 9;
  left: calc(50% - 300px);
  bottom: calc(23vh + 1.4rem);
  width: 350px
}

.Search-inputWrapper--top {
  position: fixed;
  top: 1rem;
  left: calc(50% - 175px);
  bottom: auto!important;
  width: 350px;
  z-index: 101;
}