.SideNavigation {
  position: fixed;
  display: inline-block;
  top: 20vh;
  left: 2rem;
  padding: 0;
  margin: 0;
  z-index: 9;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
}

.SideNavigationLink {
  position: relative;
  font-size: 0.9375rem;
  background: #fff;
  color: #c70d53;
  padding: 0.75rem 2rem;
  padding-left: 3rem;
  font-weight: bold;
  cursor: pointer;
}

.SideNavigationLink:first-child {
  padding-top: 1rem;
}

.SideNavigationLink:last-child {
  padding-bottom: 1rem;
}

.SideNavigationLink--selected {
  color: #fff;
}
.SideNavigationLink__icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    width: 1.625rem;
}
.SideNavigationLink__icon svg{
    max-width: 1.625rem;
    display: inline-block;
}
.SideNavigation ul {
  position: absolute;
  top: -40px;
  right: -192px;
  list-style: none;
}