.SiteSubHeader {
  height: 3.25rem;
  background: #fff;
}

.SiteSubHeaderLink-wrapper {
  float: left;
  width: calc(100% - 130px - 3.35rem - 20.3rem); /* Center links between logo and left side of sidebar */
  text-align: center;
}

.SiteSubHeaderLink {
    position: relative;
    display: inline-block;
    font-size: 0.875rem;
    padding: 0 2em;
    margin-right: 2.5em;
    line-height: 3.25rem;
    color: #858585;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.SiteSubHeader:last-of-type {
    margin-right: 0;
}

.SiteSubHeader-logo {
  width: 130px;
  height: 100%;
  margin-left: 3.35rem;
}
